<!DOCTYPE html>
<html>

  <head>
    <!-- Twitter bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">

    <!-- apiCheck is used by formly to validate its api -->
    <script src="//npmcdn.com/api-check@latest/dist/api-check.js"></script>
    <!-- This is the latest version of angular (at the time this template was created) -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>

    <!-- This is the current state of master for formly core. -->
    <script src="//npmcdn.com/angular-formly@latest/dist/formly.js"></script>
    <!-- This is the current state of master for the bootstrap templates -->
    <script src="//npmcdn.com/angular-formly-templates-bootstrap@latest/dist/angular-formly-templates-bootstrap.js"></script>

    <title>Angular Formly Example</title>
      <style>
        body {
          margin: 20px
        }

        .formly-field {
          margin-bottom: 16px;
        }
      </style>
  </head>

  <body ng-app="formlyExample" ng-controller="MainCtrl as vm">
    <div>
      <h1>angular-formly example: {{vm.exampleTitle}}</h1>
      <div>
        This demonstrates the use of <code>ng-model-options</code> using <code>modelOptions</code>.
        For more information on this feature in angular, see
        <a href="https://egghead.io/lessons/angularjs-new-in-angular-1-3-ng-model-options-getters-and-setters">these</a>
        <a href="https://egghead.io/lessons/angularjs-new-in-angular-1-3-ng-model-options-updateon-and-debounce">egghead.io</a>
        <a href="https://egghead.io/lessons/angularjs-new-in-angular-1-3-ngmodeloptions-allows-you-to-set-a-timezone-on-your-model">lessons</a>.
      </div>
      <hr />
      <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
        <formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
          <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
          <button type="button" class="btn btn-default" ng-click="vm.options.resetModel()">Reset</button>
        </formly-form>
      </form>
      <hr />
      <h2>Model Value</h2>
      <pre>{{vm.model | json}}</pre>
      <h2>Fields <small>(note, functions are not shown)</small></h2>
      <pre>{{vm.originalFields | json}}</pre>
      <h2>Form</h2>
      <pre>{{vm.form | json}}</pre>
    </div>

    <div style="margin-top:30px">
      <small>
        This is an example for the
        <a href="https://formly-js.github.io/angular-formly">angular-formly</a>
        project made with ♥ by
        <strong>
          <span ng-if="!vm.author.name || !vm.author.url">
            {{vm.author.name || 'anonymous'}}
          </span>
          <a ng-if="vm.author.url" ng-href="{{::vm.author.url}}">
            {{vm.author.name}}
          </a>
        </strong>
        <br />
        This example is running angular version "{{vm.env.angularVersion}}" and formly version "{{vm.env.formlyVersion}}"
      </small>
    </div>

    <!-- Put custom templates here -->
      <script>
        /* global angular */
(function() {
  
  'use strict';

  var app = angular.module('formlyExample', ['formly', 'formlyBootstrap']);
  
  app.run(function(formlyConfig) {
    
  });

  app.controller('MainCtrl', function MainCtrl(formlyVersion) {
    var vm = this;
    // funcation assignment
    vm.onSubmit = onSubmit;

    // variable assignment
    vm.author = { // optionally fill in your info below :-)
      name: 'Kent C. Dodds',
      url: 'https://twitter.com/kentcdodds'
    };
    vm.exampleTitle = 'ngModelOptions'; // add this
    vm.env = {
      angularVersion: angular.version.full,
      formlyVersion: formlyVersion
    };

    vm.model = {};
    vm.options = {};
    var internalState = {
      text2: ''
    };
    
    vm.fields = [
      {
        key: 'text',
        type: 'input',
        modelOptions: {
          debounce: {
            default: 2000,
            blur: 0
          },
          updateOn: 'default blur'
        },
        templateOptions: {
          label: 'Debounce',
          placeholder: 'update on blur and default'
        }
      },
      {
        key: 'text2',
        type: 'input',
        modelOptions: {
          getterSetter: true,
          allowInvlid: true
        },
        // I honestly don't know a very good use case for getterSetter...
        value: function(val) {
          if (angular.isDefined(val)) {
            internalState.text2 = val;
          }
          return internalState.text2;
        },
        templateOptions: {
          label: 'Getter Setter',
          placeholder: 'With custom value function'
        }
      }
    ];
    
    vm.originalFields = angular.copy(vm.fields);
    
    // function definition
    function onSubmit() {
      vm.options.updateInitialValue();
      alert(JSON.stringify(vm.model), null, 2);
    }
  });

})();
      </script>
  </body>

</html>
